body{
    width: 80%;
    text-align: center; /*Alinha o conteúdo e não o elemento*/
    margin: 0 auto 0 auto; 
}

header {
    width: 100%;  /*Px é unidade de medida fixa | % é unidade de medida relativa ( ao tamanho do elemento)*/
    height: 150px;
    background-color: gold;
    
}

nav {
    height: 50px;
    background-color: blue;
    margin-bottom: 10px; /* espaço entre elementos*/
}

main {
    width: 80%;
    height: 350px;
    background-color: orangered;
    float: left; /* Faz o elemento flutuar à esquerda*/
    margin: 10px 0 10px 0; /*Define o espaço acima, direita,baixo e esquerda respectivamente.*/
}

aside {
    width: 19%;
    height: 350px;
    background-color: green;
    float: right; /* Faz o elemento flutuar à direita.*/
    margin: 10px 0 10px 0;
}

footer {
    height: 50px;
    background-color: purple;
    clear: both;  /*Renderiza este elemento apenas após os que vem antes dele, mesmo se estiverem flutuando (float).*/

}